@import '~variables'

p.caption
  margin 0 0 16px
  &:not(:first-child)
    margin-top 20px

.dark-example
  color white
  background $grey-9

.escuro_cabecalho
  color white
  background #35434a

.escuro_menu
  color white
  background #2a353b

.q-item.q-item-division.relative-position
  font-size .8125rem
  font-weight 500

.avatar_usuario
  border-radius 10px
  height 40px
  width 40px

.circulo_arredondado
  border-radius 50%!important;

.cartao_menu_usuario
  -ms-flex 1 1 auto
  flex 1 1 auto
  padding-top  1.25rem
  padding-left  .05rem
  padding-right  1.25rem
  padding-bottom  .25rem

.titulo_cartao_usuario
  padding-bottom .4rem

.subtitulo_cartao_usuario
  opacity .5
